<div class="card border-primary mb-3">
    <div class="card-header">Reservas</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de reservas</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/reservas/create']">
          Crear Reserva
        </button>
      </div>
  
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th># Reserva</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservas">
            <td>{{ reserva.id }}</td>
            <td>{{ reserva.service.name }}</td>
            <td>{{ reserva.day }}</td>
            <td>{{ reserva.startTime }}</td>
            <td>{{ reserva.user.username}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/reserva/form', reserva.id]" class="btn btn-primary btn-sm">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='delete(reserva)' class="btn btn-danger btn-sm">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  