/* You can add global styles to this file, and also import other style files */
.btn-google{
    background: #dd4b39;
    color: #fff;
    width: 100%;
  }

  .btn-fb{
    background: #100db9;
    color: #fff;
    width: 100%;
  }

  .btn-login{
    color: #fff;
    width: 100%;
  }