<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>


<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form #reservaForm="ngForm">
            <div class="form-group row">
                <label for="startTime" class="col-form-label col-sm-2">Servicio</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="reserva.service" name="service">
                        <option [ngValue]="servicio" *ngFor="let servicio of servicios">{{servicio.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="day" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="reserva.day" name="day" #day="ngModel"
                        placeholder="yyyy-MM-dd" #day="ngModel">
                    <div class="alert alert-danger" *ngIf="day.invalid && (day.dirty || day.touched)">
                        <div *ngIf="day.errors.required">
                            Fecha es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="startTime" class="col-form-label col-sm-2">Hora</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="reserva.startTime" name="startTime" #startTime="ngModel">
                        <option [value]="item" *ngFor="let item of horas">{{item}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)">
                        <div *ngIf="startTime.errors.required">
                            Hora es requerida
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!reserva.id"
                        [disabled]="!reservaForm.form.valid">Crear</button>
                </div>
            </div>
        </form>

    </div>